gradle.properties
.gradle/
build/
$LOG_DIR$/
out/

/.idea/compiler.xml
/.idea/gradle.xml
/.idea/libraries/
/.idea/markdown-navigator/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/misc.xml
/.idea/kotlinc.xml
/.idea/dictionaries/
*.iml
